<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.spring.dao.QuestionDaoCsv">
        <constructor-arg name="questionFileName" value="questions.csv"/>
    </bean>

    <bean id="communicationService" class="ru.otus.spring.service.CommunicationServiceConsoleImpl">
    </bean>

    <bean id="testService" class="ru.otus.spring.service.TestServiceImpl">
         <constructor-arg name="questionDao" ref="questionDao"/>
         <constructor-arg name="communicationService" ref="communicationService"/>
    </bean>

</beans>
